<div id="tab-page">

<div class="ui container" id="home-page-contents">

	<div class="ui grid" id="home-page-grid">

	<div class="doubling five column row">
		<% @posts.each do |post| %>
			<% if !post.cover_image.size.nil? %>
				<div class="column img" style="background-image: url('<%= post.cover_image.url(:medium) %>');">
				<div class="title-box">
				<div>
					<%= post.title.upcase %><br>
					<%= post.composed_on.strftime("%d.%m.%y") %>
				</div>
				</div>
				</div>
			<% else %>	
				<div class="column no-img">
					<h3><%= post.title %></h3>
					<%= post.composed_on.strftime("%d.%m.%y") %> <br><br>
					<div class="fr-view">
						<%= post.body.html_safe %>
					</div>
				</div>

			<% end %>
		<% end %>
		
	</div>

	</div><div class="ui container" id="widgets">

	</div>

</div>
</div>