<%= javascript_include_tag 'postjs' %>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contents">
      <%= render "#{@post.current_step}_step", :f => f %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
