<h2>Private</h2>
<div class="field">
  <%= f.label :cover_image %>

  <div class="cover_image_preview">
    <% if (@post.cover_image.file?) %>
      <%= image_tag @post.cover_image.url, :class => "post-cover-image" %>
    <% else %>
      <img class="post-cover-image"/>
    <% end %>
  </div>

  <div class="post-form-image-buttons">
    <div class="ui left floated button" id="file-field-button-aesthetic-hack">
      Attach
      <%= f.file_field(:cover_image, id: 'cover_image_uploader', class: 'ui button', title: '') %>
    </div>
    <% if (@post.persisted? && @post.cover_image.file?) %>
      <%= link_to "Remove", remove_cover_image_path, :method => :get, :class => "ui right floated button" %>
    <% end %> <br>
  </div>
  
</div>
<div class="field">
  <%= f.label :summary %><br />
  <%= f.text_area :summary, :id => "post-summary-editor" %>
</div>


<div class="field">
<%= f.label :section_id %>
<div class="ui selection dropdown">
  <%= f.hidden_field :section_id %>
  <i class="dropdown icon"></i>
  <div class="default text">None</div>
  <div class="menu">
    <% @sections.each do |section| %>
    <div class="item" data-value="<%= section.id %>"><%= section.title %></div>
    <% end %>
  </div>
</div>
</div>


<div class="inline fields">
  <%= f.label :publish %>
  <div class="ui toggle checkbox">
    <%= f.check_box :publish %>
    <label></label>
  </div>
  
  <%= f.label :commenting %>
  <div class="ui toggle checkbox">
    <%= f.check_box :commenting %>
    <label></label>
  </div>
</div>

<script>
$(function() {
  $('#post-summary-editor').froalaEditor({
    height: 200
  })
});

//$('.cover_image_preview').height(<%  %>);
$('.ui.dropdown').dropdown();

</script>