

<div class="ui top attached menu">

    <div class="ui dropdown item">
      Actions
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= form_tag action_posts_path, :method => :get do %>
        <%= submit_tag 'Publish', name: "publish_selected", class: "item" %>
        <%= submit_tag 'Hide', name: "hide_selected", class: "item" %>
        <%= submit_tag 'Enable Commenting', name: "enable_comments_for_selected", class: "item" %>
        <%= submit_tag 'Disable Commenting', name: "disable_comments_for_selected", class: "item" %>
        <%= submit_tag 'Delete', name: "delete_selected", class: "item" %>
        <% if current_user.admin? %>
          <div class="item">Add to Slider</div>
          <div class="item">Clear Slider</div>
          <%= link_to 'Create New User', new_user_registration_path, class: "item" %>
          <div class="item">Create Section</div>
          <div class="item">Create Series</div>
          <%= link_to 'Go to Console', users_path, class: "item" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: "item", :method => :delete %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui dropdown item">
      Navigate
      <i class="folder icon"></i>
      <div class="menu">
        
        <div class="item">Sections
          <div class="menu">
            <% @sections.each do |section| %>  
            <div class="item"><%# link_to section.title, posts_path, name: "section_#{section.id}"%><%= filterable(section, "section") %></div>
            <% end %>
            <div class="item"><%= filterable("All", "section") %></div>
          </div>
        </div>

        <div class="item">Series
            <div class="menu">
            <div class="item">Immigration</div>
            <div class="item">Death on Rails</div>
            <div class="item">All</div>
            </div>
        </div>
        

        <% if current_user.admin? %>
          <div class="item">Authors
              <div class="menu">
              <%  @users.each do |user| %>
              <div class="item"><%= filterable(user, "author") %></div>
              <% end %>
              <div class="item"><%= filterable("All", "author") %></div>
              </div>
          </div>
        <% end %>

        <div class="item"><%= filterable("Clear Filters", "reset") %></div>

      </div>
    </div>

    <script>
      $('.ui.dropdown')
        .dropdown()
      ;
    </script>

    <%= form_tag posts_path, :method => 'get' do %>
    <div class="ui icon input">
      <i class="search icon"></i>
      
        <%= text_field_tag :search, params[:search] %>
      
      <!--input type="text" placeholder="Search..."-->
    </div>
    <% end %>

    <div class="item" id="post-index-new-button">
    <%= link_to 'New', new_post_path %>
    <i class="write icon"></i>
    </div>
</div>



<div class="ui container" id="post-index-page">
  <table class="ui unstackable table" id="private-index-table">
    <thead>
      <tr>
        <th id="checkbox"></th>
        <th id="composed"><%= sortable "composed_on" %>
        </th>
        <th id="created"><%= sortable "created_at" %></th>
        <th id="description">Description</th>
        <th id="published">Published</th>
        <th id="commenting">Commenting</th>
        <th id="rating"><%= sortable "rating" %></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <%# link_to(post) do %>
          <tr>
            <td class="checkbox-column"><%= check_box_tag "post_ids[]", post.id %></td>
            <td class="created-column"><%= post.composed_on.to_formatted_s(:long) %></td>
            <td class="composed-column"><%= post.created_at.to_date.to_formatted_s(:long) %></td>
            <td class="description-body">
              <h5><%= post.title %></h5>
              <div class="fr-view"><%= post.body.html_safe %></div>
              <div class="index-post-buttons">
                <%= link_to post do %>
                  <i class="black external icon"></i>
                <% end %>
                <%= link_to edit_post_path(post) do %>
                  <i class="blue write icon"></i>
                <% end %>
                <%= link_to post, method: :delete do %>
                  <i class="red trash icon"></i>
                <% end %>
              </div>
            </td>
            <td>
              <div class="ui toggle checkbox">
                <%= check_box_tag 'publish', post.id, post.publish %>
                <label></label>
              </div>
            </td>

            <td>
              <div class="ui toggle checkbox">
                <%= check_box_tag 'commenting', post.id, post.commenting %>
                <label></label>
              </div>
            </td>
            <td><%= post.rating %></td>
          </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= will_paginate @posts %>

<%# end %>