<div class="ui top attached menu">

    <div class="ui dropdown item">
      Actions
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Add to slider</div>
        <div class="item">Clear slider</div>
        <div class="item">Publish</div>
        <div class="item">Hide</div>
        <div class="item">Destroy</div>
        <div class="item">Feature</div>
        <div class="item">Enable Commenting</div>
        <div class="item">Disable Commenting</div>
        <%= link_to 'Create new user', new_user_registration_path, class: "item" %>
        <%= link_to 'Users console', users_path, class: "item" %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: "item", :method => :delete %>
      </div>
    </div>

    <div class="ui dropdown item">
      Navigate
      <i class="folder icon"></i>
      <div class="menu">
        <div class="item">Sections
            <div class="menu">
            <div class="item">Fiction</div>
            <div class="item">Non-Fiction</div>
            <div class="item">Poetry</div>
            <div class="item">Blog</div>
            <div class="item">Web</div>
            </div>
        </div>
        <div class="item">Series
            <div class="menu">
            <div class="item">Immigration</div>
            <div class="item">Death on Rails</div>
            </div>
        </div>
      </div>
    </div>

    <script>
      $('.ui.dropdown')
        .dropdown()
      ;
    </script>

    <div class="ui icon input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search...">
    </div>

    <div class="item" id="post-index-new-button">
    <%= link_to 'New', new_post_path %>
    <i class="write icon"></i>
    </div>
</div>



<div class="ui container" id="post-index-page">
  <table class="ui unstackable table" id="private-index-table">
    <thead>
      <tr>
        <th id="checkbox"></th>
        <th id="composed">Composed</th>
        <th id="created">Created</th>
        <th id="description">Description</th>
        <th id="published">Published</th>
        <th id="commenting">Commenting</th>
        <th id="rating">Rating</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <%# link_to(post) do %>
          <tr>
            <td class="checkbox-column"><input type="checkbox"> <label></label></td>
            <td class="created-column"><%= post.created_at.to_date.to_formatted_s(:long) %></td>
            <td class="composed-column"><%= post.composed_on.to_formatted_s(:long) %></td>
            <td class="description-body">
              <h5><%= post.title %></h5>
              <div class="fr-view"><%= post.body.html_safe %></div>
              <div class="index-post-buttons">
                <%= link_to post do %>
                  <i class="black external icon"></i>
                <% end %>
                <%= link_to edit_post_path(post) do %>
                  <i class="blue write icon"></i>
                <% end %>
                <%= link_to post, method: :delete do %>
                  <i class="red trash icon"></i>
                <% end %>
              </div>
            </td>
            <td>
              <div class="ui toggle checkbox">
                <input type="checkbox">
                <label></label>
              </div>
            </td>

            <td>
              <div class="ui toggle checkbox">
                <input type="checkbox">
                <label></label>
              </div>
            </td>
            <td>x/10</td>
          </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>

  
</div>
