<div class="ui container" id="post-index-page">

  <h1>Listing Posts</h1>

  <table class="ui table" id="private-index-table">
    <thead>
      <tr>
        <th id="checkbox"></th>
        <th id="composed">Composed</th>
        <th id="created">Created</th>
        <th id="description">Description</th>
        <th id="published">Published</th>
        <th id="commenting">Commenting</th>
        <th id="rating">Rating</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <%# link_to(post) do %>
          <tr>
            <td><input type="checkbox"> <label></label></td>
            <td><%= post.created_at.to_date.to_formatted_s(:long) %></td>
            <td><%= post.composed_on.to_formatted_s(:long) %></td>
            <td class="description-body">
              <h5><%= post.title %></h5>
              <div class="fr-view"><%= post.body.html_safe %></div>
              <div class="index-post-buttons">
                <%= link_to post do %>
                  <i class="black external icon"></i>
                <% end %>
                <%= link_to edit_post_path(post) do %>
                  <i class="blue write icon"></i>
                <% end %>
                <%= link_to post, method: :delete do %>
                  <i class="red trash icon"></i>
                <% end %>
              </div>
            </td>
            <td>
              <div class="ui toggle checkbox">
                <input type="checkbox">
                <label></label>
              </div>
            </td>

            <td>
              <div class="ui toggle checkbox">
                <input type="checkbox">
                <label></label>
              </div>
            </td>
            <td>x/10</td>
          </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="post-index-new-post-button">
    <%= link_to 'New Post', new_post_path, :class => "ui primary button" %>
  </div>
</div>
