<!DOCTYPE html>
<html>
<head>
  <title>DustandsepiaComV1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# Methods to add images%>
  <%# image_tag @post.cover_image.url %>
  <%# image_tag @post.cover_image.url(:medium) %>
  <%# image_tag @post.cover_image.url(:thumb) %>
</head>
<body>

<div class="ui top fixed inverted borderless menu">

  <div class="item" id="dns-logo">
    <%= link_to 'D&S', posts_path, :method => "get", :class => "logo"%>
  </div>

  <div class="ui inverted secondary pointing menu" id="sections-menu">
    <a class="item">Fiction</a>
    <a class="item">Non-Fiction</a>
    <a class="item">Poetry</a>
    <a class="active item">Blog</a>
    <a class="item">Web</a>
  </div>

  <script>
    var menu_width = $("#sections-menu").width();
    var logo_width = $("#dns-logo").width();

    $("#sections-menu").css({left: ($(document).width() / 2) - 1.3*logo_width});
    $("#sections-menu").css("margin-left", "-" + menu_width/2 + "px");

    $(window).resize(function(){
        $("#sections-menu").css({left: ($(document).width() / 2) - 1.3*logo_width});
        $("#sections-menu").css("margin-left", "-" + menu_width/2 + "px");
    });
  </script>

  <div class="ui right inverted menu">
    <div class="item">
      <div class="ui transparent icon input" id="nav-search-bar">
        <input type="text" class="search-bar-input" placeholder="Search..." style="color: white;">
        <i class="search link icon" style="color:white;"></i>
      </div>
    </div>
  </div>

</div>


<div class="ui container" id="website-content"> 
	<%= yield %>
</div>

<% if notice %>
   <div class ="ui message" id="notice">
      <i class="close icon"></i>
      <%= notice %>
  </div>
<% end %>

<script>
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  });
</script>

<% if Rails.env.development? %>
  <div class="ui container" id="development-debuggers">
  	<%= debug(params) %>
  	<%# debug(session[:post_params]) %>
  	<%# console %>
  </div>
<% end %>

</body>
</html>
