<!DOCTYPE html>
<html>
<head>
  <title>DustandsepiaComV1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# Methods to add images%>
  <%# image_tag @post.cover_image.url %>
  <%# image_tag @post.cover_image.url(:medium) %>
  <%# image_tag @post.cover_image.url(:thumb) %>
</head>
<body>

<p id="notice"><%= notice %></p>
<%= yield %>
<%= debug(params) %>

</body>
</html>
